@font-face {
  font-family: "medium";
  src: local("Galanogrotesque Medium"),
    local("Galanogrotesque-Medium"),
    url(fonts/galanogrotesque-medium.otf) format('opentype')
}

@font-face {
  font-family: "regular";
  src: local("Galanogrotesque Regular"),
    local("Galanogrotesque-Regular"),
    url(fonts/galanogrotesque-regular.otf) format('opentype')
}

@font-face {
  font-family: "semibold";
  src: local("Galanogrotesque Semibold"),
    local("Galanogrotesque-Semibold"),
    url(fonts/galanogrotesque-semibold.otf) format('opentype')
}

body {
  font-family: "medium", "regular", "bold";
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

*::before ,::after {
  margin: 0;
  padding: 0;
}